<!-- mysite/login.html -->
{% extends 'mysite/base_auth.html' %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-4 font-italic text-center "><a href="/" class="text-decoration-none">Bondolog</a></h1>
        </div>
        <div class="col-lg-3 m-auto ">    
            <form class="form-signin mx-4" method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <h1 class="h5 my-4 ">
                        ログイン
                    </h1>
                </div>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group mb-3">
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button class="btn btn-primary btn-block my-3" type="submit">サインイン</button>
            </form>
            <div class="text-center">
                <a href="/signup/" class="link-secondary">≫ 新規登録</a><br/>
                <a href="/password_reset/">≫ パスワードを忘れた方</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}