<!-- mysite/login.html -->
{% extends 'mysite/base_auth.html' %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-4 font-italic text-center "><a href="/" class="text-decoration-none">Bondolog</a></h1>
        </div>
        <div class="col-lg-6 m-auto ">
            {% if validlink %}
            <div style="display:flex; flex-direction:column; align-items:center;">
                <h2 class="h5 my-4 ">
                    パスワード条件
                </h2>
                <ul>
                    <li>8文字以上16文字以下</li>
                    <li>1文字以上の英数字及び記号（?|@#$%）</li>
                    <li>1文字以上の大文字及び小文字</li>
                </ul>
            </div>
            <form class="form-signin mx-4" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-label-group my-3">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {% csrf_token %}                
                <button class="btn btn-primary btn-block my-3" type="submit">送信する</button>
            </form>
            {% else %}
            <p>リンクが無効です。</p>
            <a href="{% url 'mysite:password_reset' %}" class="btn btn-primary btn-block my-3">パスワード再設定</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}