<!-- mysite/login.html -->
{% extends 'mysite/base_auth.html' %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-4 font-italic text-center "><a href="/" class="text-decoration-none">Bondolog</a></h1>
        </div>
        <div class="col-lg-6 m-auto ">    
            <form class="form-signin mx-4" method="POST">
                {% csrf_token %}

                <div class="text-center">
                    <h2 class="h5 my-4 ">
                        パスワード変更
                    </h2>
                    <p>セキュリティ上の理由から元のパスワードの入力が必要です。新しいパスワードは正しく入力したか確認できるように二度入力してください。</p>
                </div>

                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <button class="btn btn-primary btn-block my-3" type="submit">送信する</button>
                <a href="/login/" class="btn btn-secondary btn-block my-3">ログインへ</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}