<!-- mysite/login.html -->
{% extends 'mysite/base_auth.html' %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-4 font-italic text-center "><a href="/" class="text-decoration-none">Bondolog</a></h1>
        </div>
        <div class="col-lg-6 m-auto ">
            <div class="text-center">
                <h2 class="h5 my-4 ">
                    パスワードを忘れてしまった場合
                </h2>
                <p>ご登録されているメールアドレスをご入力ください。<br/>パスワード再設定用のメールをお送りいたします。</p>
            </div>
            <form class="form-signin mx-4" method="POST">
                {% csrf_token %}
                <!--
                    non_field_erros: clean(self)
                    errors: clean_xxx(self)
                 -->
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <button class="btn btn-primary btn-block my-3" type="submit">送信する</button>
            </form>
            <a href="/login/">≪ ログインへ戻る</a>
        </div>
    </div>
</div>

{% endblock %}