<!-- mysite/login.html -->
{% extends 'mysite/base_auth.html' %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-4 font-italic text-center "><a href="/" class="text-decoration-none">Bondolog</a></h1>
        </div>
        <div class="col-lg-6 m-auto ">    
            <p>
                パスワードの変更が完了しました。
            </p>
            <a href="{% url 'mysite:login' %}" class="btn btn-primary btn-block my-3">ログインへ</a>
        </div>
    </div>
</div>

{% endblock %}