{% extends 'mysite/base.html' %}
{% load cache %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            {% cache 86400 article article.id %}
            <h3 class="pb-4 font-italic">
                {{ article.title }}
            </h3>
            <p class="small text-muted text-right">{{ article.created_at }} {{ article.author }}</p>
            <p>{{ article.text }}</p>
            {% endcache %}

            {% include 'mysite/snippets/like_count.html' %}

            {% include 'mysite/snippets/tag.html' %}

            <hr class="my-4">
            {% include 'mysite/snippets/comment.html' %}

        </div>
        
        {% include 'mysite/snippets/sidebar.html' %}
    </div>
</main>

{% endblock %}
