
{% extends 'mysite/base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                ブログ投稿
            </h3>

            <form class="row g-3" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                        {% if 'update' in request.path %}
                            更新
                        {% elif 'create' in request.path %}
                            新規作成
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>

        {% include 'mysite/snippets/sidebar.html' %}

    </div>
</main>


{% endblock %}